<!DOCTYPE html>
<html>
<head>
	<title>Wapiti scan report</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/kube.min.css" />
    <link rel="stylesheet" type="text/css" href="css/master.css" />
</head>
<body>
    <div id="page">
        <header style="text-align: center">
        <h2 class="title" style="text-align: center">Wapiti vulnerability report</h2>
        <h3>Target: http://157.240.211.35:80/</h3>
        <p>Date of the scan: Mon, 02 Sep 2024 11:40:11 +0000. Scope of the scan: folder</p>
        </header>
        <hr />
        <h4>Summary</h4>
        <table class="width-100 hovered" style="background: url('logo_clear.png') no-repeat center;">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Number of vulnerabilities found</th>
                </tr>
            </thead>
            <tbody id="summary">
                    <tr>
                        <td class="small">
                            Backup file
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Blind SQL Injection
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Weak credentials
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            CRLF Injection
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            <a href="#vuln_type_4">Content Security Policy Configuration</a>
                        </td>
                        <td class="small .text-centered">1</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Cross Site Request Forgery
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Potentially dangerous file
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Command execution
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Path Traversal
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Htaccess Bypass
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            <a href="#vuln_type_10">HTTP Secure Headers</a>
                        </td>
                        <td class="small .text-centered">4</td>
                    </tr>
                    <tr>
                        <td class="small">
                            HttpOnly Flag cookie
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Open Redirect
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Secure Flag cookie
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            SQL Injection
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Server Side Request Forgery
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Cross Site Scripting
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            XML External Entity
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Internal Server Error
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Resource consumption
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
                    <tr>
                        <td class="small">
                            Fingerprint web technology
                        </td>
                        <td class="small .text-centered">0</td>
                    </tr>
            </tbody>
        </table>
        <hr />
        <div id="details">
                <h3 id="vuln_type_4">Content Security Policy Configuration</h3>
                <dl>
                    <dt>Description</dt>
                    <dd>Content Security Policy (CSP) is an added layer of security that helps to detect and mitigate certain types of attacks, including Cross Site Scripting (XSS) and data injection attacks.</dd>
                </dl>

                        <h4>Vulnerability found in /</h4>
                        <nav class="tabs" data-kube="tabs" data-equal="true" data-height="equal">
                            <a href="#tab-vuln-4-0-1" class="is-active">Description</a>
                            <a href="#tab-vuln-4-0-2">HTTP Request</a>
                            <a href="#tab-vuln-4-0-3">cURL command line</a>
                        </nav>
                        <section id="tab-vuln-4-0-1" style="min-height: 124px;">
                            <pre>CSP is not set</pre>
                        </section>
                        <section id="tab-vuln-4-0-2" style="min-height: 124px;" class="is-hidden">
                            <pre>GET / HTTP/1.1
Host: 157.240.211.35:80</pre>
                        </section>
                        <section id="tab-vuln-4-0-3" style="min-height: 124px;" class="is-hidden">
                            <pre>curl &#34;http://157.240.211.35:80/&#34;</pre>
                        </section>

                <dl><dt>Solutions</dt><dd>Configuring Content Security Policy involves adding the Content-Security-Policy HTTP header to a web page and giving it values to control what resources the user agent is allowed to load for that page.</dd></dl>
                <h5>References</h5>
                <ul>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">Mozilla: Content Security Policy (CSP)</a></li>
                    <li><a href="https://cheatsheetseries.owasp.org/cheatsheets/Content_Security_Policy_Cheat_Sheet.html">OWASP: Content Security Policy Cheat Sheet</a></li>
                    <li><a href="https://owasp.org/www-pdf-archive/2019-02-22_-_How_do_I_Content_Security_Policy_-_Print.pdf">OWASP: How to do Content Security Policy (PDF)</a></li>
                </ul>
                <br />
                <hr>
                <h3 id="vuln_type_10">HTTP Secure Headers</h3>
                <dl>
                    <dt>Description</dt>
                    <dd>HTTP security headers tell the browser how to behave when handling the website&#39;s content.</dd>
                </dl>

                        <h4>Vulnerability found in /</h4>
                        <nav class="tabs" data-kube="tabs" data-equal="true" data-height="equal">
                            <a href="#tab-vuln-10-0-1" class="is-active">Description</a>
                            <a href="#tab-vuln-10-0-2">HTTP Request</a>
                            <a href="#tab-vuln-10-0-3">cURL command line</a>
                        </nav>
                        <section id="tab-vuln-10-0-1" style="min-height: 124px;">
                            <pre>X-Frame-Options is not set</pre>
                        </section>
                        <section id="tab-vuln-10-0-2" style="min-height: 124px;" class="is-hidden">
                            <pre>GET / HTTP/1.1
Host: 157.240.211.35:80</pre>
                        </section>
                        <section id="tab-vuln-10-0-3" style="min-height: 124px;" class="is-hidden">
                            <pre>curl &#34;http://157.240.211.35:80/&#34;</pre>
                        </section>
                        <h4>Vulnerability found in /</h4>
                        <nav class="tabs" data-kube="tabs" data-equal="true" data-height="equal">
                            <a href="#tab-vuln-10-1-1" class="is-active">Description</a>
                            <a href="#tab-vuln-10-1-2">HTTP Request</a>
                            <a href="#tab-vuln-10-1-3">cURL command line</a>
                        </nav>
                        <section id="tab-vuln-10-1-1" style="min-height: 124px;">
                            <pre>X-XSS-Protection is not set</pre>
                        </section>
                        <section id="tab-vuln-10-1-2" style="min-height: 124px;" class="is-hidden">
                            <pre>GET / HTTP/1.1
Host: 157.240.211.35:80</pre>
                        </section>
                        <section id="tab-vuln-10-1-3" style="min-height: 124px;" class="is-hidden">
                            <pre>curl &#34;http://157.240.211.35:80/&#34;</pre>
                        </section>
                        <h4>Vulnerability found in /</h4>
                        <nav class="tabs" data-kube="tabs" data-equal="true" data-height="equal">
                            <a href="#tab-vuln-10-2-1" class="is-active">Description</a>
                            <a href="#tab-vuln-10-2-2">HTTP Request</a>
                            <a href="#tab-vuln-10-2-3">cURL command line</a>
                        </nav>
                        <section id="tab-vuln-10-2-1" style="min-height: 124px;">
                            <pre>X-Content-Type-Options is not set</pre>
                        </section>
                        <section id="tab-vuln-10-2-2" style="min-height: 124px;" class="is-hidden">
                            <pre>GET / HTTP/1.1
Host: 157.240.211.35:80</pre>
                        </section>
                        <section id="tab-vuln-10-2-3" style="min-height: 124px;" class="is-hidden">
                            <pre>curl &#34;http://157.240.211.35:80/&#34;</pre>
                        </section>
                        <h4>Vulnerability found in /</h4>
                        <nav class="tabs" data-kube="tabs" data-equal="true" data-height="equal">
                            <a href="#tab-vuln-10-3-1" class="is-active">Description</a>
                            <a href="#tab-vuln-10-3-2">HTTP Request</a>
                            <a href="#tab-vuln-10-3-3">cURL command line</a>
                        </nav>
                        <section id="tab-vuln-10-3-1" style="min-height: 124px;">
                            <pre>Strict-Transport-Security is not set</pre>
                        </section>
                        <section id="tab-vuln-10-3-2" style="min-height: 124px;" class="is-hidden">
                            <pre>GET / HTTP/1.1
Host: 157.240.211.35:80</pre>
                        </section>
                        <section id="tab-vuln-10-3-3" style="min-height: 124px;" class="is-hidden">
                            <pre>curl &#34;http://157.240.211.35:80/&#34;</pre>
                        </section>

                <dl><dt>Solutions</dt><dd>Use the recommendations for hardening your HTTP Security Headers.</dd></dl>
                <h5>References</h5>
                <ul>
                    <li><a href="https://www.netsparker.com/blog/web-security/http-security-headers/">Netsparker: HTTP Security Headers: An Easy Way to Harden Your Web Applications</a></li>
                    <li><a href="https://www.keycdn.com/blog/http-security-headers">KeyCDN: Hardening Your HTTP Security Headers</a></li>
                    <li><a href="https://owasp.org/www-chapter-ghana/assets/slides/HTTP_Header_Security.pdf">OWASP: HTTP SECURITY HEADERS (Protection For Browsers) (PDF)</a></li>
                </ul>
                <br />
                <hr>
        </div>
        <footer class="small" id="footer"><a href="https://wapiti.sourceforge.io/" id="wapiti_link">Wapiti 3.0.4</a> &copy; Nicolas SURRIBAS 2006-2021</footer>
	</div>
    <script>$K.init();</script>
</body>
</html>
